img {
	max-width: 30%;
	display: block;
	height: auto;
	margin: auto;
}

#img-div {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px 20px;
	justify-items: center;
	margin: auto;
	background: white;
}
