body {
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
}

img {
	max-width: 40%;
	display: block;
	height: auto;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	text-align: center;
	font-size: 36pt;
}

ul {
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
}

li {
	margin: 50px;
}

#img-div {
	background-color: white;
	align-items: center;
	margin-left: 10em;
	margin-right: 10em;
}

#img-caption {
	text-align: center;
	padding-bottom: 10px;
}

#tribute-info {
	display: flex;
	justify-content: center;
}

#title {
	font-family: 'Keania One', cursive;
	font-size: 60pt;
	text-align: center;
	margin-bottom: 10px;
}

#quote {
	font-family: 'Montserrat', sans-serif;
	font-size: 18pt;
	text-align: center;
	margin-bottom: 50px;
}
